<!DOCTYPE html>
{% load static %}
<html lang="en">
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Leave</title>
      <link rel="shortcut icon" href="{% static "assets/img/favicon.png" %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/plugins/fontawesome/css/fontawesome.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/plugins/fontawesome/css/all.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

     
   </head>
   <body>
      <div class="main-wrapper">

        {% include "Includes/header.html" %}
         
       {% include "Includes/sidebar.html" %}


         <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                       <div class="col">
                          <h3 class="page-title">Leave</h3>
                       </div>


                       <div class="col-auto text-right float-right ml-auto">
                          <button class="btn btn-outline-info mr-2"  data-toggle="modal" data-target="#myModal" type="button"></i>Leave Apply History</button>
                       </div>
                    </div>
                 </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'apply_leave_save' %}" method='POST'>
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Apply For Leave</span></h5>
                                    </div>
                                    
                        {% if messages %}
                        {% for message in messages  %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                           <strong>{{message}}</strong>
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>

                         {% endif %}
                         {% endfor %}
                         {% endif %}

                         {% if messages %}
                         {% for message in messages  %}
                         {% if message.tags == 'success' %}
                         <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
 
                          {% endif %}
                          {% endfor %}
                          {% endif %}

                                    <div class="col-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Leave Date</label>
                                            <input type="date" class="form-control" name="leave_date" required>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Leave Message</label>

                                            <textarea id="" class="form-control" name="leave_message" style="height: 200px;" required></textarea>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Add Leave</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            <footer class="text-center">
               <p>Copyright © 2024 Gyan School.</p>
            </footer>
         </div>
      </div>

      <button type="button" class="btn btn-primary" >
        Open modal
      </button>
    
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"> Leave Apply History</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="card card-table">
                          <div class="card-body">
                             <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                   <thead>
                                      <tr>
                                         <th>Date</th>
                                         <th>Message</th>
                                         <th class="text-right">Status</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for i in staff_leave_history  %}
                                      <tr>
                                         <td>{{i.data}}</td>
                                         <td>{{i.message}}</td>
                                         
                                         <td class="text-right">
                                            <div class="actions">

                                               {% if i.status == 0 %}
                                               <span class="badge badge-info">Request Pending</span>

                                               {% elif i.status == 1 %}
                                               <span class="badge badge-success">Accepted</span>

                                               {% else %}
                                               <span class="badge badge-danger">Rejected</span>

                                               {% endif %}
                                            

                                            </div>
                                         </td>
                                      </tr>
                                      {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>

      <script src="{% static "assets/js/jquery-3.6.0.min.js" %}"></script>
      <script src="{% static "assets/js/popper.min.js" %}"></script>
      <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "assets/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
      <script src="{% static "assets/plugins/apexchart/apexcharts.min.js" %}"></script>
      <script src="{% static "assets/plugins/apexchart/chart-data.js" %}"></script>
      <script src="{% static "assets/js/script.js" %}"></script>

 
   </body>
</html>




