<!DOCTYPE html>
{% load static %}
<html lang="en">
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Student Leave</title>
      <link rel="shortcut icon" href="{% static "assets/img/favicon.png" %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/plugins/fontawesome/css/fontawesome.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/plugins/fontawesome/css/all.min.css" %}">
      <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

     
   </head>
   <body>
      <div class="main-wrapper">

        {% include "Includes/header.html" %}
         
       {% include "Includes/sidebar.html" %}

         <div class="page-wrapper">
            <div class="content container-fluid">

                
                <div class="page-header">
                    <div class="row align-items-center">
                       <div class="col">
                          <h3 class="page-title">Students Leave</h3>
                       </div>
                    </div>
                 </div>

                                                                            
                 {% if messages %}
                 {% for message in messages  %}
                 {% if message.tags == 'success' %}
                 <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}

                  {% if messages %}
                  {% for message in messages  %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     <strong>{{message}}</strong>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>

                   {% endif %}
                   {% endfor %}
                   {% endif %}

                 <div class="row">
                    <div class="col-sm-12">
                       <div class="card card-table">
                          <div class="card-body">
                             <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                   <thead>
                                      <tr>
                                         <th>S.No</th>
                                         <th>Student Name</th>
                                         <th>Leave Date</th>
                                         <th>Mesage</th>
                                         <th class="text-right">Action</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for i in student_leave  %}
                                      <tr>
                                         {% comment %} <td>{{i.id}}</td> {% endcomment %}
                                         <td>{{forloop.counter}}</td>
                                         <td>{{i.student_id.admin.first_name}} {{i.student_id.admin.last_name}}</td>
                                         <td>{{i.data}}</td>
                                         <td>{{i.message}}</td>
                                         
                                         <td class="text-right">

                                            <div class="actions">

                                                {% if i.status == 0 %}

                                                <a href="{% url "stu_approved_leave" i.id %}" class="btn btn-success">Approved</a>

                                                <a href="{% url "stu_disapproved_leave" i.id %}" class="btn btn-danger">Dis Approved</a>

                                                {% elif i.status == 1 %}

                                                <button class="btn btn-success" disabled>Approved</button>

                                                {% else %}

                                                <button class="btn btn-danger" disabled>Dis Approved</button>

                                                {% endif %}
                                             
                                            </div>
                                          
                                         </td>
                                      </tr>
                                      {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
  
                    
            <footer class="text-center">
               <p>Copyright © 2024 Gyan School.</p>
            </footer>
         </div>
      </div>

      <script src="{% static "assets/js/jquery-3.6.0.min.js" %}"></script>
      <script src="{% static "assets/js/popper.min.js" %}"></script>
      <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "assets/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
      <script src="{% static "assets/plugins/apexchart/apexcharts.min.js" %}"></script>
      <script src="{% static "assets/plugins/apexchart/chart-data.js" %}"></script>
      <script src="{% static "assets/js/script.js" %}"></script>

    
   </body>
   
</html>